* {
    margin: 0;
    text-decoration: none;
    padding: 0;
}

.Caja1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 100px;
    background-color: #e4e6e6;
    color: #333;
}